<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Draft Stage</title>
    <script id="data">
        DrafterData = [
                {
                    "super": "NSObject",
                    "name": "MyClass",
                    "protocols": [
                        {
                            "name": "Delegate1"
                        }
                    ],
                    "methods": [
                        {
                            "invokes": [
                                {
                                    "classId": "D4562E077163A31D299128B1EDFEEF00F",
                                    "methodId": "D21EB76724F3B8A90A877DD47C71304FE"
                                }
                            ],
                            "id": "D637BB23CFCE92EA1A16E409168D7787E",
                            "params": [
                                {
                                    "type": "",
                                    "name": "",
                                    "sel": "method"
                                }
                            ],
                            "returnType": "void",
                            "classId": "D4562E077163A31D299128B1EDFEEF00F",
                            "static": false,
                            "type": "method"
                        },
                        {
                            "invokes": [
                                {
                                    "formatedName": "[self method3]"
                                }
                            ],
                            "id": "D21EB76724F3B8A90A877DD47C71304FE",
                            "params": [
                                {
                                    "type": "",
                                    "name": "",
                                    "sel": "method2"
                                }
                            ],
                            "returnType": "void",
                            "classId": "D4562E077163A31D299128B1EDFEEF00F",
                            "static": false,
                            "type": "method"
                        }
                    ],
                    "id": "D4562E077163A31D299128B1EDFEEF00F",
                    "type": "class",
                    "isSwift": false
                }
            ]
    </script>
</head>
<body>
    <div id="app">
        
    </div>
<script type="text/javascript" src="bundle.js"></script></body>
</html>